.top-slider_2 .owl-dots {
    font-size: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.top-slider_2 .owl-nav .owl-next {
    left: auto;
    right: 66px;
    background-image: url(../images/icons/main-arr.png);
    background-size: 100%;
    z-index: 99;
    &:hover {
    	opacity: .9;
    } 
}


.top-slider_2 .owl-nav .owl-prev {
	left: 66px;
    right: auto;	
	background-image: url(../images/icons/main-arr.png);
    background-size: 100%;
    transform: rotate(180deg);
    z-index: 99;
    &:hover {
    	opacity: .9;
    }
}

.w20 {
	width: 20%;
	display: block;
	float: left;
}

.w40 {
	width: 40%;
	display: block;
	float: left;
}

.top-slider_2 .slide-inner {
	height: 206px;
}

.top-slider_2 .row_fl .slide-inner {
	height: 412px;
}

.owl-carousel .owl-stage-outer.no-dark {
	&::after {
		display: none !important;
	}
}
.card-new-slider-sec .owl-stage-outer {
	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
		height: 100%;
		background: linear-gradient(to left, rgba(0,0,0,.7), transparent);
	}
}

.card-new-list .col:nth-child(3), .list-dot .col:nth-child(3) {
   	width: 33%;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.29;
	color: #333333;    
}
.card-new-list .list-dot:last-child {
	background: transparent;
	color: #333;
	box-shadow: none;
}
 .card-new-list .list-dot:last-child .col:nth-child(2):after {
    border-color: #999;
}

.new-tit-g:before {
	bottom: 0;
}

h2 .tr {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.29;
  text-align: right;
  color: #212121;	
}

.list-key {
	display: block;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 2.29;
	color: #212121;
	margin-bottom: 10px;
}

.round-icon-wrap {
	padding: 0 0 0 86px;
	
}
.round-icon-caption {
	padding: 0 7px;
}

.id-number {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	font-family: Roboto;
	font-size: 14px;
	line-height: 2.29;
	color: #212121;	
}

.pr-no-border:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pr-no-border {
	padding-bottom: 30px;
}

.pr-no-border li {
	float: left;
}

// .pr-no-border li:nth-child(3) {
// 	padding-left: 95px;
// }

.pr-no-border li:nth-child(2):after,
.pr-no-border li:nth-child(3):after,
.pr-no-border li:nth-child(4):after,
.pr-no-border li:nth-child(5):after {
	display: none;
}

.square-card-block .new-figure {
	height: 258px;
}

.interest-sli {
	.item-price {
		position: absolute;
		bottom: -10px;
		left: 15px;
		font-family: RobotoSlabRegular,Arial,serif;
		.from {
			&::after {
				display: none;
			}
		}
	}
	.n-name {
		color: #fff;
		position: absolute;
		bottom: 10px;
		right: 20px;
	}
}

.card-info {
	padding: 20px;
	 background-color: #f4f4f4;
	 position: relative;
	.tit {
		height: 23px;
		font-size: 17px;
		font-weight: bold;
		text-align: left;
		color: #333333;
		font-family: RobotoSlabRegular,Arial,serif;
  	}
  	.adr {
		font-size: 13px;
		text-align: left;
		color: #333333;
		padding: 6px 0;
		padding-left: 15px;
		position: relative;
		padding-bottom: 25px;
		&::after {
		    content: '';
		    width: 12px;
		    height: 23px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-image: url(../images/icons/pin-dark.svg);
		    background-size: 100%;
		    background-repeat: no-repeat;
		    background-position: 0px 7px;		
		}
  	}
  	ul {
  		margin: 0;
  		padding: 0;
  		padding-top: 10px;
  		li {
  			display: inline-block;
			font-family: arial;
			font-size: 14px;
			text-align: left;
			color: #333333;
			border-right: 1px solid #979797;
			padding-right: 8px;
			margin-right: 4px;
			&:last-child {
				border: none;
			}
  		}
  	}
  	.look {
  		width: 42px;
  		height: 42px;
  		background-image: url(../images/icons/btn-icon.png);
  		display: block;
  		position: absolute;
  		right: 20px;
  		bottom: 10px; 
  		background-position: 0 0; 
  		transition: 0s;
  		&:hover {
  			background-position: 0 42px; 
  			transition: 0s;
  		}
  	}
}

.gray-rounded-section  {
	.round-icon-outer {
		border: solid 1px #333333;
		svg {
			padding-bottom: 6px;
		}
	}
	.price-cover {
		padding: 24px 0 0;
	}
}

.new-search-items {
	.square-card-block .item-figure {
	    height: 258px;
	}
}

	.card-new-list {
		border-right: solid 1px #efeee8;
		margin: 0;
		padding: 0 35px 80px 0;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
		}
	}

.card-new-main-sec {
	.action-list li {
	    &:first-child {
	    	margin-top: -2px;
	    }
	}
}

.fancybox-button--left, .fancybox-button--right {
    border-radius: 0;
    z-index: 99999;
    top: 50%;
    position: fixed;
}

.fancybox-button--right {
    right: 0;
    transform: translateY(-50%);
}

.fancybox-button--left {
    left: 0;
    transform: translateY(-50%);
}

@media screen and (max-width: 1250px) {
.pr-no-border li::after {
	display: none;
}
.price-list li {
	padding: 0;
}
.round-icon-caption {
	text-align: left;
}
.pr-no-border li {
	float: none;
	display: block;
	margin-bottom: 20px;
	text-align: left;
}

.pr-no-border li:nth-child(3) {
	padding-left: 0;

}
.round-icon-wrap {
	padding:0;
	
}
}

@media screen and (max-width: 768px) {
.id-number {
    float: none;
    position: relative;
    top: 0;
    left: 0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 2.29;
    color: #212121;
    right: auto;
}	
.w20 {
	width: 100%;
	display: none;
	float: left;
}

.w40 {
	width: 100%;
	display: block;
	float: left;
}
}
