.simple-selection {
	.city-select .current {
		width: 120px;
	}
	.address-select .current {
		width: 200px;
	}
}

.searech-res-right {
  font-size: 14px;
  text-align: right;
  color: #333333;
  padding-bottom: 5px;
  b {
  	font-weight: 300;
  	color: #190b46;
  }
}

.tabs-search-by-type {
	input[type="search"] {
		width: 100%;
	    color: #665600;
	    border: none;
    	border: 1px solid #998100;
    	background-color: transparent;
    	border-radius: 0;
	    box-sizing: border-box;
	    clear: both;
	    display: block;
	    font-family: inherit;
	    font-size: 13px;
	    font-weight: 400;
	    height: 42px;
	    line-height: 40px;
	    outline: 0;
	    padding-left: 20px;
	    padding-right: 32px;
	    position: relative;
	    text-align: left !important;
	    transition: all .2s ease-in-out;
	    white-space: nowrap;    	
	}
	.inp-wr {
		position: relative;
	}
	.search-icon {
		position: absolute;
		top: 46%;
		transform: translateY(-50%);
		right: 19.5px;
		cursor: pointer;
		width: 23.5px;
		height: 17.5px;
		border: none;
		background: transparent;
		&::before {
			content: '';
			display: block;
			height: 10px;
			width: 10px;
			border: 2px solid #998100;
			border-radius: 100%;
		}
		&::after {
			content: '';
			position: absolute;
			display: block;
			height: 2px;
			width: 10px;
			background-color: #998100;
			transform: rotate(43deg);
			right: -8px;
		}
		width: 17.5px;
		height: 17.5px;
	}
	.city-select .current {
		width: 120px;
	}
	.form-inner {
		padding: 80px 100px;
		outline: 1px dashed #979797;
  		outline-offset: -44px;
	}
	.table-wrap-wrap {
		display: none;
		&.active {
			display: block;
		}
	}
	.select-form {
		display: block;
		margin: 0 auto;
  		box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.12);
  		margin: 30px 0 50px;
  		position: relative;
  		padding-top: 90px;
	}
	.table-wrap {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;	
		}
	}
	ul.choose-header {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background: #f4f4f4;
		li {
			display: inline-block;
			font-size: 13px;
			text-align: left;
			text-transform: uppercase;
			color: #333;
			padding: 25px 62px;
			position: relative;
			cursor: pointer;
			&:hover {
				background: #efefef;	
			}
			&.active {
				background: #fff;
				color: #998100;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					width: 100%;
					height: 2.9px;
					background-color: #998100;
					left: 0;
				}
			}
		}
	}
	.form-controlls {
		padding: 10px 108px;
		.left {
			float: left;
			text-align: left; 
			position: relative;
			padding-left: 35px;
			padding-top: 4px;
			font-size: 14px;
			line-height: 1.29;
			color: #665600;
			text-decoration: underline;
			cursor: pointer;
			transition: .3s;
			&:hover {
				transition: .3s;
				span {
					background: #fff;
					transition: .3s;
					&::after {
						background: #998100;
						transition: .3s;
					}
					&::before {
						background: #998100;
					}
				}
			}
			span {
				width: 26px;
				height: 26px;
				position: absolute;
				background: #998100;
				display: block;
				border-radius: 100%;
				float: left;
				left: 0;
				top: 0;
				border: 1px solid #998100; 
				cursor: pointer;
				&::after {
					content: '';
					width: 1px;
					height: 11px;
					background: #fff;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
				&::before {
					content: '';
					width: 11px;
					height: 1px;
					background: #fff;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}

		}
		.right {
			float: right;
			text-align: right; 
			position: relative;
			padding-left: 35px;
			padding-top: 4px;
			font-size: 14px;
			line-height: 1.29;
			color: #665600;
			text-decoration: underline;
			cursor: pointer;
			transition: .3s;
			&:hover {
				transition: .3s;
				span {
					background: #998100;
					transition: .3s;
					&::after {
						background: #fff;
						transition: .3s;
					}
					&::before {
						background: #fff;
					}
				}
			}
			span {
				width: 27px;
				height: 27px;
				position: absolute;
				background: #fff;
				display: block;
				border-radius: 100%;
				float: left;
				left: 0;
				top: 0;
				border: 1px solid #998100; 
				cursor: pointer;
				&::after {
					content: '';
					width: 1px;
					height: 13px;
					background: #998100;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					transform: rotate(45deg);
				}
				&::before {
					content: '';
					width: 13px;
					height: 1px;
					background: #998100;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					transform: rotate(45deg);
				}			
			}
		}
	}
}
.banner-inner.search-apartaments {
	height: 576px;
}
.caption-body {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 635px;
	top: 50%;
	transform: translateY(-53%);
	background-color: rgba(244, 244, 244, 0.94);
	box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.11);
	padding: 38px 30px;	
	font-style: 14px;
	line-height: 21px;
	overflow: hidden;
	height: calc(100% - 200px);
	z-index: 1;
	.text {
		width: 100%;
		max-width: 433px;
		height: 290px;
		overflow: scroll;
		p {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.nicescroll-rails {
		margin-left: 30px;
		margin-top: 3px;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 25px;
		background: linear-gradient(to top, rgba(244, 244, 244, 0.94), rgba(244, 244, 244, 0.2));
		width: 100%;
	}
	.title {
	  font-size: 23px;
	  color: #2a166d;
	  width: 401.4px;
	  position: relative;
	  line-height: 1.4;
	  margin-bottom: 30px;
	  font-family: RobotoSlabRegular,Arial,serif;
	  &::after {
	  	content: '';
	  	left: 0;
	  	position: absolute;
	  	bottom: -10px;
	  	width: 79.4px;
		border: solid 1px #371f87;
	  }
	}
}

.banner-caption-wrap .caption-title {
	z-index: 9;
    position: relative;
    padding-top: 40px;
}

.new-search-items {
	.fixed-price {
		position: absolute;
		bottom: -10px;
		color: #fff;
		padding: 5px 15px 5px 10px;
		left: 20px;
		font-style: 17px;
	}
	.title-house {
		right: 20px;
		bottom: 10px;
		position: absolute;
		color: #fff;
		font-style: italic;
		font-style: 16px;
	}
	.card-block .item-caption .caption-inside {
		bottom: 50% !important;
		transform: translate(-50%, 50%) !important;
		left: 50% !important;
	}
	.card-block .item-caption a {
    	width: 100%;
	}
	.item-btn .left-btn {
	    font-size: 15px;
	    vertical-align: top;
	    width: 80%;
	    margin: auto !important;
	    display: block !important;
	    max-width: 100% !important;
	}	
	.empty-golden-btn {
		background: #998100;
		&:hover {
			background: transparent;
		}
	}
	.item-caption {
		&:hover {
			 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 8, 89, 0.93) 97%);
		}
	}
}


.search-results {
	margin: 0 0 40px;
	padding: 0 15px;
	ul {
		
		li {
			display: inline-block;
			float: left;
			&.results-text {
				float: right;
				span {
					display: block;
					margin-bottom: 5px;
					font-size: 14px;
					text-align: right;
					color: #333333;
					b {
						color: #190b46;
						font-weight: 300;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.nice-select {
		width: 265px;
		color: #665600;
	}
	.a-filter {
		display: block;
		border: 1px solid #665600;
		height: 40px;
		width: 40px;
		margin-right: 10px;
		position: relative;
	}
	.filter-round {
		position: absolute;
		display: block;
		left: 16px;
		top: 12px;
		margin: auto;
		&::after {
			content: '';
			height: 6px;
			width: 6px;
			position: absolute;
			border: 1px solid #998100;
			border-radius: 100%;
			top: 0;
			left: 0;
		}
	}
	.filter-mark {
		position: absolute;
		display: block;
		left: 50%;
		top: 40%;
		height: 20px;
		width: 20px;
		transform: translate(-50%, -50%);
		border-radius: 100%;
		border: 1px solid #998100;
		border-bottom: none;
		&::after {
			content: '';
			height: 14px;
			width: 1px;
			position: absolute;
			background: #998100;
			top: 13px;
			left: 5px;
			transform: rotate(-45deg);
		}
		&::before {
			content: '';
			height: 14px;
			width: 1px;
			position: absolute;
			background: #998100;
			top: 13px;
			right: 5px;
			transform: rotate(45deg);
		}		
	}
	.filter-block {
		position: relative;
		span {
			position: absolute;
			background: #998100;
			height: 7px;
			width: 7px;
			display: block;
			&:nth-child(1) {
				top: 12px;
				left: 11px;
			}
			&:nth-child(2) {
				top: 12px;
				right: 11px;
			}
			&:nth-child(3) {
				bottom: -30px;
				left: 11px;
			}
			&:nth-child(4) {
				bottom: -30px;
				right: 11px;
			}

		}
	}
}


// nice scroll




@media screen and (max-width: 1159px) {
	.new-search-items .item-btn .empty-golden-btn {
	    width: 100%;
	    margin: auto;
	    font-size: 14px;
	}
}

@media screen and (max-width: 1130px) {
	.tabs-search-by-type .form-inner {
	    padding: 70px 20px 10px;
	    outline: none;
	    outline-offset: -44px;
	}
	.tabs-search-by-type ul.choose-header li {
		padding: 25px 15px;
	}
	.tabs-search-by-type .form-controlls {
    	padding: 10px 20px 33px;
	}
}

@media screen and (max-width: 768px) {
	.tabs-search-by-type .form-controlls .left {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		span {
			display: none;
		} 
	}
	.tabs-search-by-type .form-controlls .right {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		span {
			display: none;
		} 
	}
	.card-info .look {
		width: 32px;
		height: 32px;
		background-size: 100%;
		right: 10px;
		bottom: 10px;
	}
	.card-info {
		padding: 10px;
	}
	.search-results ul li {
		&:first-child {
			float: left;
			padding-left: 50px;
		}
	    display: block;
	    float: none;
	    margin-bottom: 10px;
	}
	.search-results .nice-select {
		width: 100%;
	}
	.search-results ul.list li {
		float: none;
		&:first-child {
			float: none;
			padding-left: 20px;
		}
	}
	.search-results ul li.results-text {
		width: 100%;
		float: left;
		span {
			text-align: left;
		}
	}
	.search-results {
		margin-bottom: 20px;
	}
} 

@media screen and (max-width: 670px) {
	.caption-body {
		padding: 10px 0;
	}
}