body {
	font-family: $body-font;
	font-size: $body-font-size;
	color: $text-color;

	&.no-scroll {
		overflow: hidden;
	}
}
button {
	outline: none;
	cursor: pointer;
	transition: .3s;
}
ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	color: inherit;
	transition: .3s;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}
figure {
	margin: 0;

	a {
		display: block;
	}
}
label {
	cursor: pointer;
	user-select: none;
}
address {
	font-style: normal;
}
.horizontal {
	position: absolute;
	top: 0; left: 50%;
	transform: translateX(-50%);
	height: 100%;
}
.vertical {
	position: absolute;
	top: 50%; left: 0;
	transform: translateY(-50%);
	width: 100%;
}
@media screen and (min-height: 990px) {

	.main-wrap {
		min-height: calc(100vh - 555px);
	}
}
.container {
	max-width: $container-size;
	width: 100%;
	margin: 0 auto;
}
.container-outer {
	padding: 0 10px;
}
.table-wrap {
	display: table;
	border-collapse: collapse;
	width: 100%;

	&.fix {
		table-layout: fixed;
	}

	.table-cell {
		display: table-cell;
		vertical-align: top;

		&.to-bottom {
			vertical-align: bottom;
		}
	}
	.table-line {
		display: table-row;
	}
}
.inline-wrap {
	font-size: 0;

	.block-inside {
		display: inline-block;
		font-size: 14px;
	}
}
.new {
	display: block;
}
.col-80 {
	display: inline-block;
	font-size: 14px;
	width: 80%;
	vertical-align: top;
}
.col-75 {
	display: inline-block;
	font-size: 14px;
	width: 75%;
	vertical-align: top;
}
.col-70 {
	display: inline-block;
	font-size: 14px;
	width: 70%;
	vertical-align: top;
}
.col-66 {
	display: inline-block;
	font-size: 14px;
	width: 66.66%;
	vertical-align: top;
}
.col-60 {
	display: inline-block;
	font-size: 14px;
	width: 60%;
	vertical-align: top;
}
.col-59 {
	display: inline-block;
	font-size: 14px;
	width: 58.5%;
	vertical-align: top;
}
.col-56 {
	display: inline-block;
	font-size: 14px;
	width: 55%;
	vertical-align: top;
}
.col-50 {
	display: inline-block;
	font-size: 14px;
	width: 50%;
	vertical-align: top;
}
.col-44 {
	display: inline-block;
	font-size: 14px;
	width: 45%;
	vertical-align: top;
}
.col-41 {
	display: inline-block;
	font-size: 14px;
	width: 41.5%;
	vertical-align: top;
}
.col-40 {
	display: inline-block;
	font-size: 14px;
	width: 40%;
	vertical-align: top;
}
.col-33 {
	display: inline-block;
	font-size: 14px;
	width: 33.33%;
	vertical-align: top;
}
.col-30 {
	display: inline-block;
	font-size: 14px;
	width: 30%;
	vertical-align: top;
}
.col-25 {
	display: inline-block;
	font-size: 14px;
	width: 25%;
	vertical-align: top;
}
.col-20 {
	display: inline-block;
	font-size: 14px;
	width: 20%;
	vertical-align: top;
}
.offset-40 {
	margin-left: 40%;
}
.offset-42 {
	margin-left: 42%;
}
/*map style*/
.google-map-main {
	height: 488px;
}
.gmnoprint,
.gm-style-cc {
	display: none;
}
@media screen and (max-width:1199px) {

	.col-md-100 {
		width: 100%;
	}
	.col-md-50 {
		width: 50%;
	}
}
@media screen and (max-width:992px) {

	.col-sm-50 {
		width: 50%;
	}
	.col-sm-100 {
		width: 100%;
	}
	.col-sm-35 {
		width: 35%;
	}
	.col-sm-65 {
		width: 65%;
	}
	.hidden-md {
		display: none;
	}
	.offset-sm-0 {
		margin-left: 0;
	}
}
@media screen and (max-width:768px) {

	.col-ex-50 {
		width: 50%;
	}
	.col-ex-100 {
		width: 100%;
	}
	.col-ex-80 {
		width: 80%;
	}
	.col-ex-20 {
		width: 20%;
	}
	.hidden-ex {
		display: none;
	}
}
@media screen and (max-width:540px) {

	.col-xs-100 {
		width: 100%;
	}
	.col-xs-70 {
		width: 80%;
	}
	.col-xs-50 {
		width: 50%;
	}
	.col-xs-30 {
		width: 20%;
	}
}
@media screen and (max-width:480px) {

	.col-mob-100 {
		width: 100%;
	}
}
