/*fonts*/

$reg: "RobotoRegular", Arial, sans-serif;
$light: "RobotoLight", Arial, sans-serif;
$bold: "RobotoBold", Arial, sans-serif;

$slabreg: "RobotoSlabRegular", Arial, serif;
$slabbold: "RobotoSlabBold", Arial, sans-serif;


/*body*/
$body-font: "RobotoRegular", Arial, sans-serif;
$text-color: #212121;
$body-font-size: 15px;

$container-size: 1189px;

/*colors*/
$golden: #998100;
$golden-middle: #665600;
$golden-dark: #806d4f;
$dark-blue: #190b46;
$blue: #27126c;
